*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #CCC;
  }
  .footer>h2{
    padding-top: 20px;
    text-align: center;
  }